body,html{
  text-align: center;
  background: #e2e2e2;
}

#canvas{
  margin: 25px auto;
  width: 1300px;
  height: 600;
  background: white;
}

#chart{
}

.title{
  padding-top: 11px;
  font-size: 2em;
  font-weight: bold;
}

.year{
  font-size: 1.7em;
}

.description{
  font-size: 0.9em;
  margin-bottom: -35px;
}

.axis-label{
  font-size: 25px;
}
