body,html{
  text-align: center;
  background: #e2e2e2;
}

#canvas{
  margin: 65px auto;
  width: 1300px;
  height: 600;
  background: white;
  font-family: 'Alegreya', serif;
  -webkit-box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.5);
}

#chart{
}

.title{
  padding-top: 11px;
  font-size: 2em;
  font-weight: bold;
}
.axis{
  font-family: 'Alegreya', serif;
}

.year{
  font-size: 1.7em;
}

.description{
  font-size: 0.9em;
  margin-bottom: -35px;
}

.axis-label{
  font-size: 25px;
}

.toolTip {
  color: white;
  position: absolute;
  text-align: center;
  max-width: 250px;
  max-height: 98px;
  padding: 7px;
  font: 15px;
  background: black;
  border: 25px;
  border-radius: 12px;
	line-height: 18px;
  pointer-events: none;
	box-shadow: 0px 0px 12px -10px;
}
